:root {
    --color-background: #FFFFFF;
    --color-font-primary: #000000;
    --color-font-secondary: #979797;
    --color-font-accent: #F8B69D;
    --color-prod-1: #F8E0D7;
    --color-prod-2: #F8D7D7;
    --color-prod-3: #F8EFD7;
    --color-prod-4: #ECECEC;
    --color-border: #DADFE9;
    --color-btn-hover: #FFC4AD;
    --color-btn-active: #F1AD94;
}